# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Build artifacts
.vscode/.browse.c_cpp.db
**/*.elf
**/*.hex
**/*.bin

# VS Code specific files
.vscode/extensions.json
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json

# Other temporary or configuration files
*.pyc
*.o
*.d
*.gcno
*.gcda
*.gcov
*.swp
*~
*.log
*.zip
